
/* =============================================================
   GENERAL STYLES
 ============================================================ */

html, body {
    padding-top:0px;
    margin:0px;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
    font-size:14px;
}


.header-section {
  background-color:#065883;
  color:#fff;
  padding:40px 5px;
}
    .header-section img {
        max-width:150px;
        border:2px solid #fff;
    }

.spon-txt {
    padding:40px 5px;
    font-size:25px;
    font-weight:800;
}

.blog-main {
    padding:10px 5px;
    border-bottom:2px solid #065883;
    margin-bottom:30px;
}
.heading-blog {
    font-size:30px;
    color:#065883;
    font-weight:800;
    padding:30px 5px;
    line-height:40px;
}
.blog-info {
    padding:20px 5px; 
    font-size:20px;
    font-weight:normal;
}
.blog-txt {
    padding:20px 5px; 
    font-family:Andalus ;
    font-size:20px;    
    font-weight:normal;
}
.set-foot {
    padding:20px 5px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.contact-form input, .comment-form input {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 100%;
    padding: 7px 15px;
    font-size: 16px;
    line-height: 100%;
    transition: 0.4s border-color linear;
}

.contact-form textarea, .comment-form textarea {
    border: 1px solid #aaa;
    margin-bottom: 15px;
    width: 100%;
    padding: 7px 15px;
    font-size: 16px;
    line-height: 15px !important;
    min-height: 183px;
    transition: 0.4s border-color linear;
}

.contact-form input:focus, .comment-form input:focus,
.contact-form textarea:focus, .comment-form textarea:focus {
    border-color: #666;
}
.comment-form {
    margin-top: 15px;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
}