{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Simba Li"/>
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" />
    <meta name="360-site-verification" content="69733d4ecb46c93f180f72c0900c9276" />
    <meta name="keywords" content="Python,java,blog,李平新,教程" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Simba's Blog</title>
{#    <link href="{% static 'blog/css/bootstrap.css' %}" rel="stylesheet"/>#}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{% static 'blog/css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'blog/css/highlights/github.css' %}" rel="stylesheet">
</head>
<body>


<section class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'blog:index' %}">
                    <img src="{% static 'blog/img/headimage.jpg' %}" alt="头像" class="img-circle img-responsive"/>
                </a>
            </div>
            <div class="col-md-5 text-center">
                <h1><strong>Simba Li </strong></h1>
                <h4>Java Developer</h4>
            </div>
            <div class="col-md-5">
                <h3>WHO AM I :</h3>
                主业：Java开发。自学Python，开发了此博客
                <br />
                Email: <i><strong>lipingxin@outlook.com</strong></i>
            </div>
        </div>
    </div>
</section>
<!--HOME SECTION END-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 spon-txt"></div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            {% block main %}
            {% endblock main %}
            </div>
            <div class="col-md-3">

                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Archives</strong>
                    </li>
                    {% archives as date_list %}
                    {% for date in date_list %}
                        <li class="list-group-item">
                            <span class="badge"></span>
                            <a href="{% url 'blog:archive' date.year date.month %}">
                                {{ date.year }}年{{ date.month }}月
                            </a>
                        </li>
                        {% empty %}
                        <li class="list-group-item">
                            <span class="badge">104</span>暂无归档
                        </li>
                    {% endfor %}

                    <li class="list-group-item">
                        <strong>Category</strong>
                    </li>
                    {% get_categories as categories %}
                    {% for category in categories %}
                        <li class="list-group-item">
                            <span class="badge">{{ category.post_set.count }}</span>
                            <a href="{% url 'blog:category' category.pk %}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% empty %}
                    {% endfor %}

                    <li class="list-group-item">
                        <strong>Tags</strong>
                    </li>
                    {% get_tags as tags %}
                    {% for tag in tags %}
                        <li class="list-group-item">
                            <span class="badge">{{ tag.num_post }}</span>
                            <a href="{% url 'blog:tag' tag.pk %}">
                                {{ tag.name }}
                            </a>
                        </li>
                    {% empty %}
                    {% endfor %}
                </ul>
                <br/>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr/>
<div class="container">
    <div>
        <p>友情链接：</p>
        <table border="0">
        <tr style="height: 30px">
            <td width="200px"><a target="_blank" href="http://zmrenwu.com">追梦人物的博客</a></td>
            <td width="200px"><a target="_blank" href="https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">廖雪峰的Python教程</a></td>
            <td width="200px"><a target="_blank" href="https://www.qiniu.com">七牛云</a></td>
        </tr>
        <tr style="height: 30px">
            <td width="200px"><a target="_blank" href="https://www.aliyun.com">阿里云</a></td>
            <td width="200px"><a target="_blank" href="https://github.com">GitHub</a></td>
        </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 text-center set-foot">
            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <a target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备17050845号-1</a>
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602008761" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="{% static 'blog/img/beian.png' %}" alt="公安备案图标" style="float:left;"/>
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010602008761号</p>
                </a>
		 	</div>
            Copyright © 2017 Simba's Blog. All Rights Reserved. lipingxin 版权所有
        </div>
    </div>
</div>

</body>
</html>
